body{
    background-color: #15012a;
    width: 1300px;
    height: 1000px;
    overflow: hidden;
    
}
.cursor{
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    width: 4%;
    height: auto;
    pointer-events: none;
    z-index: 9999;
}
.title{
    position: absolute;
    width: auto;
    height: auto;
    top: 0%;
    left: 5%;
    font-size: 600%;
    color: aliceblue;
    background-color: #980e3a;
    background-size: 40px;
    border-radius: 30%;
    pointer-events: hover;
    z-index: 10;
}
.title:hover{
    transform: scale(1.12, 1.12);
    background-color: #de0969;
}
.bt1{
position: absolute;
width: 7%;
top: 1%;
left: 50%;
}
.github{
    position: absolute;
    width: 20%;
    top: 5%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4177ff;
}
.github:hover{
    filter: brightness(300%);
}
.bt2{
position: absolute;
width: 7%;
top: 1%;
left: 60%;
}
.deviant{
    position: absolute;
    width: 20%;
    top: 5%;
    left: 60%;
    font-family: Arial, Helvetica, sans-serif;
    color: #4177ff;
}
.deviant:hover{
    filter: brightness(400%);
}
.navbox{
    position: absolute;

    width: 20%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #de88a3;
    pointer-events: none;
    z-index: 1; 
}
.navbox2{
    position: absolute;

    width: 18%;
    height: 100%;
    top: 1%;
    left: 1%;
    background-color: #6e1847;
    pointer-events: none;
    z-index: 1; 
}
.navbar{
    position: absolute;
width: 40%;
    height: 100%;
    top: 30%;
    left: 4%;
    z-index: 2;
}
.puz1{
    width: 40%;
    padding: 5%;
}
.puz1:hover{
    background-color: #ea2a8031;
    transform: scale(1.3, 1.3);
}
.puz2{
    width: 40%;
    padding: 5%;
}
.puz2:hover{
    background-color: #ea2a8031;
    transform: scale(1.3, 1.3);
}
.puz3{
    width: 40%;
    padding: 5%;
}
.puz3:hover{
    background-color: #ea2a8031;
    transform: scale(1.3, 1.3);
}
.re{
    position: absolute;
    width: 30%;
    top: 43%;
    left: -2%;
    padding: 5%;
    color: #f4d4e2;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;

}
.re:hover{
    background-color: #ea2a8031;
}

p{
    color: #ffff;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    padding: 1%;
    text-align: left;
}
.desc{
    position: absolute;
    width: 100%;
    height: auto;
    top: 12%;
    left: 0%;
    
    z-index: 2;
}
.desc:hover{
    background-color: #ea2a8031;
}
h3{
    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    padding: 2%;
    text-align: center;
}
h4{
    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    padding: 2%;
    text-align: center; 
}
.selection{
        position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 10%;
    filter: opacity(40%);
    z-index: 1;
    pointer-events: none;
}



 















/*PUZZLE 1*/
.puzzle1{
display: none;
z-index: 300;
}

/*PIECES CONTAINER*/
.container1{
position: absolute;
width: 250px;
height: 500px;
border: #de0969;
background-color: #b8a6bc;
left: 25%;
top: 35%;
overflow: scroll;
flex: wrap;
z-index: 301;
    align-items: left;
}

/*PIECES*/
#one-1{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-1:active{
        cursor: grabbing;
    }
#one-2{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-2:active{
        cursor: grabbing;
    }
#one-3{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-3:active{
        cursor: grabbing;
    }
#one-4{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-4:active{
        cursor: grabbing;
    }
#one-5{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-5:active{
        cursor: grabbing;
    }
#one-6{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #one-6:active{
        cursor: grabbing;
    }




/*reference*/
.bgimg1{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    filter: opacity(30%);
    z-index: 300;
    pointer-events: none;
}


/*Slots base*/
.template1{
position: absolute;
background: color #000;;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    flex: wrap;
    z-index: 300;
}


/*SLOTS*/
.slot-one{
position: absolute;
width: 300px;
height: 200px;
display: flex;
}
#uno-1{
position: absolute;
top: 0%;
left: 0%;

}
#uno-2{
position: absolute;
top: 0%;
left: 49.98%;

}
#uno-3{
position: absolute;
top: 33%;
left: 0%;

}
#uno-4{
position: absolute;
top: 33%;
left: 50%;

}
#uno-5{
position: absolute;
top: 66%;
left: 0%;

}
#uno-6{
position: absolute;
top: 66%;
left: 49.98%;

}


.slot-one .piece-one{
    width: auto;
    height: auto;
    z-index: 330;
}

.container1 .piece-one{
    width: 17%;
    height: 17%;
    padding: 3%;
}
























/*PUZZLE 2*/
.puzzle2{
display: none;
z-index: 600;
}

/*PIECES CONTAINER*/
.container2{
position: absolute;
width: 250px;
height: 500px;
border: #de0969;
background-color: #b8a6bc;
left: 25%;
top: 35%;
overflow: scroll;
flex: wrap;
z-index: 601;
    align-items: left;
}

/*PIECES*/
#two-1{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-1:active{
        cursor: grabbing;
    }
#two-2{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-2:active{
        cursor: grabbing;
    }
#two-3{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-3:active{
        cursor: grabbing;
    }
#two-4{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-4:active{
        cursor: grabbing;
    }
#two-5{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-5:active{
        cursor: grabbing;
    }
#two-6{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #two-6:active{
        cursor: grabbing;
    }




/*reference*/
.bgimg2{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    filter: opacity(30%);
    z-index: 600;
    pointer-events: none;
}


/*Slots base*/
.template2{
position: absolute;
background: color #000;;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    flex: wrap;
    z-index: 600;
}


/*SLOTS*/
.slot-two{
position: absolute;
width: 300px;
height: 200px;
display: flex;
}
#dos-1{
position: absolute;
top: 0%;
left: 0%;

}
#dos-2{
position: absolute;
top: 0%;
left: 49.98%;

}
#dos-3{
position: absolute;
top: 33%;
left: 0%;

}
#dos-4{
position: absolute;
top: 33%;
left: 50%;

}
#dos-5{
position: absolute;
top: 66%;
left: 0%;

}
#dos-6{
position: absolute;
top: 66%;
left: 49.98%;

}


.slot-two .piece-two{
    width: auto;
    height: auto;
    z-index: 630;
}

.container2 .piece-two{
    width: 17%;
    height: 17%;
    padding: 3%;
}







































/*PUZZLE 3*/
.puzzle3{
display: none;
z-index: 900;
}

/*PIECES CONTAINER*/
.container3{
position: absolute;
width: 250px;
height: 500px;
border: #de0969;
background-color: #b8a6bc;
left: 25%;
top: 35%;
overflow: scroll;
flex: wrap;
z-index: 901;
    align-items: left;
}

/*PIECES*/
#tri-1{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-1:active{
        cursor: grabbing;
    }
#tri-2{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-2:active{
        cursor: grabbing;
    }
#tri-3{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-3:active{
        cursor: grabbing;
    }
#tri-4{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-4:active{
        cursor: grabbing;
    }
#tri-5{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-5:active{
        cursor: grabbing;
    }
#tri-6{
width: fit-content;
top: auto;
left: 0%;
cursor: grab;
display: flex;
box-sizing: border-box;
flex: wrap;
}
    #tri-6:active{
        cursor: grabbing;
    }




/*reference*/
.bgimg3{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    filter: opacity(30%);
    z-index: 900;
    pointer-events: none;
}


/*Slots base*/
.template3{
position: absolute;
background: color #000000;
    width: 600px;
    height: 600px;
    top: 35%;
    left: 40%;
    flex: wrap;
    z-index: 900;
}


/*SLOTS*/
.slot-tri{
position: absolute;
width: 300px;
height: 200px;
display: flex;
}
#tres-1{
position: absolute;
top: 0%;
left: 0%;

}
#tres-2{
position: absolute;
top: 0%;
left: 49.98%;

}
#tres-3{
position: absolute;
top: 33%;
left: 0%;

}
#tres-4{
position: absolute;
top: 33%;
left: 50%;

}
#tres-5{
position: absolute;
top: 66%;
left: 0%;

}
#tres-6{
position: absolute;
top: 66%;
left: 49.98%;

}


.slot-tri .piece-tri{
    width: auto;
    height: auto;
    z-index: 930;
}

.container3 .piece-tri{
    width: 17%;
    height: 17%;
    padding: 3%;
}